<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>

    <div id="content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">Dashboard</a>
                </li>
                <li class="breadcrumb-item active">File Upload</li>
            </ol>
            
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    File Upload
                </div>
                <div class="card-body">
                    <form action="fileupload" class="form-horizontal" method="POST" enctype="multipart/form-data">
                        <input type="hidden" name="csrfmiddlewaretoken" value="XQmc9ZxLgTtIkSfdcUdtYeHWyJv0DoPZlAMFjA7Ok21wmDuDQfP46oGwymEf9p9S">
                        <div class="form-group">
                            <div class="form-row">
                                <div class="col-md-6">
                                    <div class="input-group input-group-lg">
                                        <div class="custom-file">
                                            <input type="file" class="form-control custom-file-input file" name="myfile" id="fileInput">
                                            <label class="custom-file-label" id="fileLabel" for="fileInput">Choose file</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="input-group input-group-lg">
                                        <div class="custom-file">
                                            <input type="text" class="form-control" name="description" placeholder="Description" id="inputFirst" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-block" type="submit">Submit &nbsp;&nbsp;&nbsp;<span></span></button>
                    </form>
                </div>
            </div>
            
    
</body>
</html>
{% endblock %}
{% block javascript %}
    <script>
        $(document).on('change', '.file', function (event) {
            document.getElementById('fileLabel').innerHTML = event.target.files[0].name;
        });
    </script>
{% endblock %}